:host {
  mat-dialog-content.update-user-content{
    display: flex;
    flex-direction: column;
    width: 450px;
  }
}
@media screen and (max-width: 40rem) {
  :host {
    mat-dialog-content.update-user-content{
      width: 100%;
    }
  }
}
